.btn{
    
    //NAVBAR BUTTON
    &__nav{
        border-color:transparent;
        background-color: $color-primary-4;
        height: 2.5rem;
        width:2.5rem;
        border-radius:40px;
        box-shadow: 0 1rem 2rem rgba($color-black, .4); 
        color: $color-white;
        @include respond-to(large-screen){
            height: 3.5rem;
            width:3.5rem;
        }
    }
}