.footer{
    color: white;
    background-color: $color-primary;
    position: relative;
    
    // margin-top: -80px;
    clear: both;
    &__wrapper{
        margin-top:-100px;
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100px;
    }
    &__nav-menu{
        font-size:1rem;
        
        &__wrapper{
            
            display:flex;
            justify-content: space-evenly;
            align-items: center;
            li{
                margin: 1em;
            }
            
        }
        p{
            text-align:center;
            font-size:.6rem;
            color:$color-primary-4;
        }
        a{
            color:$color-primary-4;
        }
    }
}