.footer{
    color: $color-black;
    background-color: $color-primary;
    &__wrapper{
        display:flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 100px;
        padding: 1em 4.5em;
    }
    &__nav-menu{
      &-inner{
        flex-direction: column;
        display:flex;
        align-items: flex-start;
        list-style: none;
      }

  }
    &__copy{
      &-attribute{
        margin-top:29em;
        font-size:.6rem;
      }
    }
    &__link{
      &-home{
        margin:1em 0;
        color:$color-black;
        font-size:.93rem;
      }
      &-portfolio{
        font-size:.6rem;
        font-size:.93rem;
      }
    }
}