.header{
    background-color: transparent;
    height: 100vh;
    position:fixed;
    z-index: 3;
    @include respond-to(large-screen){
        height:15vh;
    }
    &__wrapper{
        display:flex;
        height: 100%;
        align-items: center;
        
    }
    
}
header{
    position:relative;
    z-index: 3;
}