.header{
    background-color: transparent;
    display: inline-flex;
    height: 100vh;
    position:fixed;
    align-items: flex-end;
    z-index: 3;
}
header{
    position:relative;
    z-index: 3;
}