.header{
    background-color: transparent;
    display: block;
    height: 100vh;
    position:fixed;
    //align-items: flex-end;
    z-index: 3;
    @include respond-to(large-screen){
        height: 10vh;
    }
}
header{
    position:relative;
    z-index: 3;
}