.nav-menu{
    position: fixed;
    z-index: 2;
    bottom:0;
    width:100vw;
    display:flex;
    justify-content: flex-end;
    height: 50vh;
    &__wrapper{
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        display: inline-flex;
        background-color: rgba($color-black, .5);
        justify-content: space-around;
        // margin-right: 2em;
        text-align:right;
        flex-direction: column;
    }
    
    
        
    a{
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        font-size: 1.2rem;
        position: relative; 
        text-decoration: none;
        list-style: none;
        
        // ALL RECIPES
        &:nth-child(1){
            //background-color: $color-primary-4;
            border-width: 5px;
            z-index: 2;
            // height:100vh;
            // bottom:-7em;
        }
        // KETO RECIPES
        &:nth-child(2){
            //background-color: $color-primary-3;
            border-width: 5px;
            z-index: 3;
            //height:100vh;
            //bottom:-10em;
            // top:7em;
        }       
        // LOW CARB RECIPES
        &:nth-child(3){
            //background-color: $color-primary-2;
            border-width: 5px;
            z-index: 4;
            //height:100vh;
            //top: 10em;
            transform-origin: bottom;
            
        }
        // HOME
        &:nth-child(4){
            //background-color: $color-primary;
            border-width: 5px;
            z-index: 4;
            //height:100vh;
            //top: 13em;
            
            
            
        }
    }

    &__item{
        color: white;
        display:block;
        padding: 8px 18px;
        height: 3rem;
        // position: absolute;
        
        
        
    }
}
a.current{
    color: red;
    // height: 100vh;
    // position: fixed;
}