.nav-menu{
    display: flex;
    background-color: $color-white;
    justify-content: space-between;
    align-items: center;
    padding:1em 3.5em;
    &__wrapper{
        @include respond-to(mobile-portrait){
            margin:9em auto;
            
            
            align-items: center;
        }
        @include respond-to(mobile-landscape){
            
            grid-template-columns: 1fr 1fr;
            
            gap: 1em;
            align-items: center;
        }
        @include respond-to(tablet-portrait){
            
            grid-template-columns: 1fr ;
            
            row-gap: 0em;
            align-items: center;
        }
        @include respond-to(tablet-landscape){
            
            grid-template-columns: 1fr 1fr;
            
            
        }
        @include respond-to(tablet-landscape-wide){
            
            grid-template-columns: 1fr 1fr 1fr;
            
            
            align-items: center;
        }
        @include respond-to(large-screen){
            grid-template-columns: 1fr 1fr 1fr;
        }
        @include respond-to(larger-screen){
            display:flex;
            
            
        }
    }
    &__item{
        color: $color-black;
        display:block;
        margin:.3em auto;
        font-size: 1rem;
        position: relative; 
        text-decoration: none;
        list-style: none;
        margin:.3em 1em;
    }
    &__logo{
      font-size:1.3rem;
      color:'red';
      position: relative; 
      text-decoration: none;
      list-style: none;
      margin:.3em 1em;
    }
}
a.current{
    color: rgba($color-white, .8);
    text-decoration: underline;
}