.nav-toggle{
    display: none;
    position: fixed;
    top: 7em;
    right: 1.5em;
    z-index: 5;
    @include respond-to(medium-screen){
      display:inline-block;
    }
    @include respond-to(large-screen){
      right: 1.5em;
    }
    button{
        cursor: pointer;
    }
}
