.nav-toggle{
    display: inline-block;
    position: fixed;
    top: 4em;
    right: 0;
    padding-right: 1em;
    z-index: 5;
    @include respond-to(large-screen){
        padding-right:3em;
    }
    button{
        
        cursor: pointer;
    }
}
