.single{
    *--title{
        color: $color-white;
        @include respond-to(mobile-landscape){
            font-size: 1rem;
        }
    }
    &--instructions{
        display:flex;
        flex-direction: column;
        justify-content: center;
        padding:1.2em;
        text-align: left;
    }
    &--ingrediants{
        display:flex;
        max-height:25vh;
        word-wrap: normal;
        margin-top:2em;
        ul{
            @include respond-to(mobile-portrait){
                font-size: 1rem;
                flex-grow: 1;
                
            }
            @include respond-to(mobile-landscape){
                font-size:.9rem;
            }
            
            display:flex;
            flex-wrap: wrap;
            flex-direction: column;
            max-height: 25vh;
            max-width:100%;
        }
        li{
            margin:0em 1em ;
            color:$color-white;
            list-style: circle;
        }
        
    }
}