$font-main: grenadine-mvb;
$font-secondary: degular;


//colors
$color-black: #000;
$color-white: #eee;
$color-primary:#1B4332;
$color-primary-1: rgba(27, 67, 50, 1);
$color-primary-2: rgba(45, 106, 79, 1);
$color-primary-3: rgba(64, 145, 108, 1);
$color-primary-4: rgba(82, 183, 136, 1);