.hero{
    &__wrapper{
        margin:0 auto;
        margin-bottom:120px;
        height:96vh;
        padding: 3em 2.5em 0em 2.5em;
    }
    
    &__header{
      display:flex;
        font-size:2.8rem;
        margin:0 auto;
        align-items: flex-end;
        height:100%;
        padding-bottom:2em;
    }
    &__image{
      width:auto;
      max-height: 100vh;
      object-fit: contain;
    }
    &__headline{
      color: $color-white;
    }
}
