.hero{
    display:block;
    color:$color-black;
    position: relative;
    z-index: 2;
    padding: 0em 3em;
    &__wrapper{
        margin:0 auto;
        height: 100vh;
        max-width: 908px;
        p{
            padding: .5em 2em;
        }
    }
    h1{
        font-weight: 300;
    }
    &__header{
        color: $color-white;
        font-size:1.2rem;
        text-align: center;
    }
}
