.hero{
    display:block;
    color:$color-black;
    position: relative;
    z-index: 2;
    padding: 3em;
    
    &__wrapper{
        margin:0 auto;
        margin-bottom:100px;
        p{
            padding: .5em 2em;
        }
    }
    h1{
        font-weight: 300;
    }
    &__header{
        color: $color-white;
        font-size:1.6rem;
        margin:0 auto;
    }
}
