.page{
    display:block;
    color:white;
    position:relative;
    z-index: 2;
    
    &__wrapper{
        height: 100vh;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: $color-primary-4;
        width: 100vw;
        
        p{
            padding: .5em 2em;
        }
    }
}