.page{
    display:block;
    color:$color-black;
    position: relative;
    z-index: 2;
    
    
    &__wrapper{
        height:100vh;
        padding-top:3em;
        margin-bottom:-100px;
        margin:0 auto;
        max-width: 68em;
        p{
            padding: .5em 2em;
        }
    }
    h1{
        font-weight: 300;
    }
    &__header{
        margin-bottom:2em;
        color: $color-white;
        font-size:1.6rem;
    
    }
}
