.single-recipe{    
    &__content{
        color:$color-primary-1;
        text-align: left;
        padding: 0 4em;
        
    }
    &__container{
        justify-content: space-around;
    }
    &--title{
        color: $color-white;
        font-size:6rem;
        font-weight: 400;
    }
    &--facts__3{
        color:$color-white;
        font-size:1.5rem;
        p{
            display:flex;
        }
        
    }
    &__img{
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center right;
        display:block;
        margin:0 auto;
        height:50vh;
    }
    
    &__information{
        display:flex;
        color:white;
        z-index: -1;
        
        &--item{
            background-color:rgba($color-primary-4, .5);
            border-radius: 15px;
            margin:.4em auto;
            width:90%;
            padding:1em .5em;
            box-shadow:0 .5rem 1rem rgba($color-black, .2);
        }
    }
}
