.search-overlay{
    display:none;
    &--active{
        flex-direction: column;
        position: fixed;
        height:100vh;
        top:0;
        background-color: rgba($color-black, .75);
        width: 100vw;
        z-index: 2;
        &__results{
            padding:1em 2em;
            color:$color-white;
            max-height:65vh;
            overflow-y: scroll;
        }
        &__wrapper{
            margin:0 auto;
            height:50vh;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__headline{
            color:$color-white;
            font-size: 1.5rem;
        }
    }
    
    
}