.search{
    
    &__list{
        
    }
    &__list-item{
        display:flex;
        margin: .5em auto;
        
    }
    display:block;
    &__img{
        background-size: contain;
        max-width: 45%;
        max-height:10em;
    }
    &__description{
        margin-left:2em;
        display:flex;
        flex-direction: column;
        a{
            color:$color-primary-4;
            text-decoration: none;
        }
        &--title{
            font-weight: 300;
        }
        &--type{
            font-weight: 300;
        }
        
    }
    
}