
.search-bar{
    width: 100vw;
    background-color: green;
    position: fixed;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: .5em 0 0 0;
    height: 3.5rem;
    display:flex;
    align-items: center;
    top:-10em;
    z-index: 400;
    justify-content: space-between;
    cursor:pointer; 
    input{
        margin-left: 1.4em;
        margin-bottom:1em;
        min-width: 75%;
        height: 2rem;
        border-radius: 10px;
    }
    span{
        position: fixed;
        right:.5em;    
        transform: scale(1.4);
        top: .75rem;
        padding-right:1.2em;
        z-index: 3;    
        @include respond-to(large-screen){
            right:1.7em;
        }
    }
    
    i{
        font-size: 1.4rem;;
        background-image: linear-gradient(to right, $color-black, $color-black);
        -moz-background-clip: text;// background gets clipped exactly where the background is
        -webkit-background-clip: text;// background gets clipped exactly where the background is
        color: transparent;
        &:hover{
            color:$color-white;
        }
        @include respond-to(medium-screen){
          background-image: linear-gradient(to right, $color-white, $color-white);
        }
    }
}