.search-overlay{
    display:none;
    
    &--active{
        
        flex-direction: column;
        position: fixed;
        height:100vh;
        top:0;
        background-color: rgba($color-black, .75);
        width: 100vw;
        z-index: 2;
        @include respond-to(mobile-portrait){
            padding:2em 0em;
            overflow-y: scroll;
        }
        @include respond-to(mobile-landscape){
            padding:2em 0em;
            overflow-y: scroll;
        }
        @include respond-to(tablet-portrait){
            padding:0;
            overflow-y: scroll;
        }
        @include respond-to(tablet-landscape){
            padding:0;
            overflow-y: scroll;
        }
        @include respond-to(tablet-landscape-wide){
            overflow:hidden;
        }
        &__results{
            padding:1em 2em;
            color:$color-white;
            @include respond-to(mobile-portrait){
                max-height:80vh;
            }
            @include respond-to(larger-screen){
                display:flex;
                flex-direction: column;
                width: 100vw;
                max-height:100vh; 
                overflow-y:hidden;
                justify-content: space-around;
            }
        }
        &__wrapper{
            margin:0 auto;
            // height:50vh;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            @include respond-to(larger-screen){
                justify-content: space-around;
            }
        }
        &__headline{
            color:$color-white;
            font-size: 1.5rem;
            @include respond-to(mobile-portrait){
                margin:1.5em auto .51em auto
            }
            @include respond-to(mobile-landscape){
                margin:2.75em auto .51em auto
            }
            
            @include respond-to(tablet-portrait){
                margin:3em auto .1em auto
            }
            @include respond-to(tablet-landscape){
                margin:3em auto .1em auto
            }
            
        }
    }   
}
#results{
    position: absolute;
    color:$color-white;
    top:6em;    
    margin-left:2em;
}
#other, #all-food-items, #all-drink-items{
    
}
.food-container, .drink-container,
.breakfast-container, .dinner-container,
.lunch-container, .desserts-container{
    border-radius: 10px;
}
.food-container{
    
    
    padding:.5em;
    background-color: rgba($color-primary-1, .5);
    &__title{
        padding: 0em .2em;
        position:fixed;
        background-color: rgba($color-black, .85);
        @include respond-to(mobile-portrait){
            position:relative;
        }
        @include respond-to(mobile-landscape){
            position:relative;
        }
        @include respond-to(tablet-portrait){
            position:relative;
        }
        @include respond-to(tablet-landscape){
            position:relative;
        }
        @include respond-to(tablet-landscape-wide){
            position:fixed;
        }
    }
    
}
.drink-container{
    
    
    padding:.5em;
    background-color: rgba($color-primary-2, .5);
}
.breakfast-container{
    
    
    padding:.5em;
    background-color: rgba($color-primary-3, .5);
}
.lunch-container{
    
    
    padding:.5em;
    background-color: rgba($color-primary-4, .5);
}
.dinner-container{
    
    
    padding:.5em;
    background-color: rgba($color-primary-5, .5);
}
.desserts-container{
    
    
    padding:.5em;
    background-color: rgba($color-primary-6, .5);
}
