/* min-width 1025px, large screens */
/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
$break-1440: 1440px;
$break-1024: 64.063em;
$break-769: 769px;
$break-568: 35.5em;
$break-480: 480px;

@mixin respond-to($media){
    @if $media == larger-screen{
        @media only screen 
            and (min-width: $break-1024 + 1) 
            { @content;} 
    }
    @else if $media == large-screen{
        @media only screen 
            and (min-width: $break-1024) 
            { @content; } 
    }
    @else if $media == medium-screen{
      @media screen 
          and (max-width: $break-769) 
          { @content; }
    }
    @else if $media == small-screen{
      @media screen 
          and (max-width: $break-568) 
          { @content; }
    }
    
    @else if $media == tablet-portrait{
        @media screen 
            and (min-width: $break-480 + 1) 
            and (orientation:portrait) 
            { @content; }
    }
    @else if $media == tablet-landscape{
        @media screen 
            and (min-width: $break-568 + 1) 
            and (orientation:landscape) 
            { @content; }
    }
    
    @else if $media == tablet-landscape-wide{
        @media screen 
            and (min-width: $break-769) 
            and (orientation:landscape) 
            { @content; }
    }
    
    @else if $media == mobile-portrait{
        @media screen 
            and (max-width: $break-480) 
            and (orientation:portrait) 
            { @content; }
    }
    @else if $media == mobile-landscape{
        @media screen 
            and (max-width: $break-568) 
            and (orientation:landscape) 
            { @content; }
    }
}
