$font-main: grenadine-mvb;
$font-secondary: degular;


//colors
$color-priamry:#1B4332;
$color-priamry-1: rgba(27, 67, 50, 1);
$color-priamry-2: rgba(45, 106, 79, 1);
$color-priamry-3: rgba(64, 145, 108, 1);
$color-priamry-4: rgba(82, 183, 136, 1);